.worth{
  /* width: 40rem;
  margin: auto;
  text-align: center;
  background-color: red;
  padding: 1rem;
  text-align: right; */
  margin: 1rem 0;
  background: #394F8A;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.26);
  color: white;
  /* padding: 0.5rem 1rem; */
  /* cursor: pointer; */
  width: 47.9%;
  margin: auto;
  text-align: right;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}