.expenses-filter {
    color: white;
    /* padding: 0 1rem; */
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
  
  }
  
  .expenses-filter__control {
    display: flex;
    flex-wrap:wrap ;
    width: 60rem;
    align-items: center;
    justify-content: end;
    /* margin: 1rem 0; */
    height: 3rem;
    background-color: #21262d;
    width: 60rem;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 0.5rem;
    margin-bottom: -1rem;
    margin-top: 3rem;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }