.expenses-filter {
    color: white;
    display: flex;
    justify-content: center;
  
  }
  
  .expenses-filter__control {
    display: flex;
    flex-direction: row-reverse;
    width: 50rem;
    align-items: center;
    height: 5rem;
    background-color: #21262d;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 0.5rem;
    margin-bottom: -1rem;
    margin-top: 3rem;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }